/*activity.css*/

* {
	font-family: sans-serif;
}

.format-1 {
	margin: auto;
	padding-right: 30px;
	padding-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	background-color: #012440;
}


.table-edit {
	display: block;
	padding-top: 1rem;
	padding-right: 8rem;
	padding-bottom: 1rem;
	padding-left: 0rem;
	color: white;
	text-align: left;
}

.c-table {
	padding-top: 0rem;
	padding-right: 13rem;
	padding-bottom: 1rem;
	padding-left: 0rem;
	margin: auto;
}

/*.td-2 {
	padding-top: 3rem;
	padding-right: 2rem;
	padding-bottom: 6rem;
	padding-left: 2rem;
}*/

button {
	background-color: #c2195b;
	padding: 1rem;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	display: block;
	margin: auto;
}

/*.t-bold {
	font-style: bold;
}
*/

nav {
    display: flex;
    padding-left: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}

nav img {
    width: 98px;
    height: 35px;
    padding-bottom: 5px;
    padding-top: 10px;
}


nav ul {
	display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 90%;
    padding-top: 20px;
}


nav	ul li {
	display: flex;
    padding-left: 5px;
 	padding-right: 5px;
}

footer ul {
	margin-right: 40px;
}


.b-center {
	text-align: center;
	margin: auto;
}

.tr-last {
	text-align: center;
}

.h2-mb0 {
	margin-bottom: 0;
	text-align: left;
	font-size: 25px;
	padding-left: 30px;
	padding-right: 30px;
}

.body-1 {
	padding-left: 30px;
	padding-right: 30px;
}


.ts-1 {
	padding-top: 0rem;
	padding-right: 13rem;
	padding-bottom: 1rem;
	padding-left: 0rem;
	margin: auto;
}

.last-t {
	padding-left: 4rem;
	padding-right: 2rem;
	font-size: 15px;
}

